* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: rgba(80, 191, 255, 0.972);
}
h1 {
  font-size: 1.5cm;
}
h2 {
  font-size: 1cm;
}
h3 {
  font-size: 0.7cm;
}
p {
  font-size: x-large;
}
.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}
.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}
.showMenu {
  transform: translateY(0);
}
/* Settings for the head, content and footer classes (align text to center of divs
and adjust the margin & border-radius)
*/

.head,
.content-one,
.content-two,
.footer {
  text-align: center;
  border-radius: 35px;
  margin: 10px;
}

/*grid settings for smaller screen, the elements are placed on top of each other and the height is over the size of the screen (150vh)
so there's more space.*/
.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr, 2fr, 2fr, 1fr;
  grid-template-areas:
    "head"
    "content1"
    "content2"
    "footer";
  height: 150vh;
}
.head {
  background-color: rgb(212, 235, 255);
  grid-area: head;
}
.content-one {
  background-color: rgb(222, 169, 246);
  grid-area: content1;
}
.content-two {
  background-color: rgb(218, 137, 255);
  grid-area: content2;
}
.footer {
  background-color: rgb(255, 94, 215);
  grid-area: footer;
}

/*grid settings for larger screens. here we change the layout so there's two columns and the grid has a
static width and it's centered*/
@media (min-width: 769px) {
  .page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "head head"
      "content1 content2"
      "footer footer";

    width: 768px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
}
